@page "/counter"

@inject HttpClient httpClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="SendMail">SendMail</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    // The content of the mail
    HttpContent httpContent = new StringContent("<h1>body<h1>");
    //string httpContent = "<h1>body<h1>";
    //192.168.43.126
    //0.0.0.0
    //localhost
    //10.108.162.69
    //https://192.168.43.126:7069/swagger/index.html
    //https://192.168.43.126:7069/swagger
    //http://10.108.162.69:5034/swagger/index.html

    //7141

    private async Task SendMail()
    {
        // Don't like HTTP // This request has been blocked; the content must be served over HTTPS.
        //await httpClient.PostAsync(@"http://10.108.162.69:5030/Email/sendemail", httpContent);
        //await httpClient.PostAsJsonAsync(@"http://10.108.162.69:5030/Email/sendemail", httpContent);
        //await httpClient.PostAsJsonAsync(@"http://10.108.162.69:5034/Email/sendemail", httpContent);
        await httpClient.PostAsync(@"https://10.108.162.69:7141/Email/sendemail", httpContent);
    }
}
